# 데이터 및 바이너리 파일 무시
backdata/
data/*.xlsx
KAIST/Payment_dataset.csv
*.sqlite3
*.bin
*.pickle
*.csv
*.xls
*.db
*.log
# Jupyter 및 기타 임시 파일
*.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
.env
read_columns.py
VerifyApp.py
hwpSummary.py
KAIST/
chroma_db/

